.container{
    background-color: #FF6666;

}

.item{
    background-color: #FF9999;

}

.item-header{
    background-color: #CC9933;
    color: azure;

}

/* NEW */
@media screen and (min-width : 950px){
    .container{
        min-height: 700px;
        max-width: 70vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: auto 1fr 1fr;
        /* grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr); */
        justify-content: center;
        row-gap: 10px;
        padding-bottom: 10px;
    }
    
    .item{
        margin: 0 10px;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
    }
    
    .item-image{
        grid-row-start: 2;
        grid-row-end: 4;
        max-width: 460px;
        max-height: 750px;
        margin: auto 0 auto 10px;
    }
    
    .item-main-info{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .item-main-remaining{
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    .item-header{
        margin: 10px 10px 0;
        font-weight: 600;
        font-size: xx-large;
        border-radius: 0;
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .item-content{
        background-color: inherit;
        min-height: 200px;
        max-height: 230px;
        margin: 20px 0 0;
    }
}

@media screen and (max-width : 949px) {
    .container{
        min-height: 700px;
        max-width: 99vw;
        margin: 0 auto;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .item{
        justify-self: center;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
    }

    .item-image{
        grid-row-start: 2;
        grid-row-end: 4;
        margin: 0 auto;
        max-width: 325px;
        max-height: 450px;
    }

    .item-main-info{
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item-main-remaining{
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .item-header{
        margin: 10px 10px 0;
        font-weight: 600;
        font-size: xx-large;
        border-radius: 0;
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .item-content{
        background-color: inherit;
        min-height: 200px;
        max-height: 230px;
        margin: 20px 0 0;
    }
}