.App {
  text-align: center;
}

Nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(31, 41, 44);
  color: white;
}

.nav-link{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  text-anchor: unset;
  text-decoration: none;
}

.nav-item{
  color : white;
  padding: 10px;
  text-decoration: none;
}
